<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>YoMo! control panel</title>


  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


  <!--Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link href="css/control_panel.css" rel="stylesheet">
</head>
<body>
  <header>
    <a href="/logout" >Log out</a>
  </header>

  <div class="container grid">
    <div class="row">
      <div class="col-md-4 grid-item">
        <div class="intern">
          <h1> Poll Settings</h1>
          <h2> Facebook post id</h2>
          <input class="postIDInput" placeholder="Facebook post ID"></input>
          <div class="totalEmojiData"></div>
          <hr>
          <h2> Call to action poll </h2>
          <input class="poll_call" placeholder="WIE WAS DE BESTE?"></input>
          <hr>
          <h2> Team Love </h2>
          <div class="teams_checkbox_container">
            <label>Gregory</label><input type="checkbox" class="love_checkbox" value="gregory" />
            <label>Alkan</label><input type="checkbox" class="love_checkbox" value="alkan" />
            <label>Ouassima</label><input type="checkbox" class="love_checkbox" value="ouassima" />
            <label>Rowan</label><input type="checkbox" class="love_checkbox" value="rowan" />
            <label>Ta Tjoela</label><input type="checkbox" class="love_checkbox" value="ta" />
            <label>Mo Anouar</label><input type="checkbox" class="love_checkbox" value="mo" />
            <hr>
          </div>

          <h2> Team Haha </h2>
          <div class="teams_checkbox_container">
            <label>Gregory</label><input type="checkbox" class="haha_checkbox" value="gregory" />
            <label>Alkan</label><input type="checkbox" class="haha_checkbox" value="alkan" />
            <label>Ouassima</label><input type="checkbox" class="haha_checkbox" value="ouassima" />
            <label>Rowan</label><input type="checkbox" class="haha_checkbox" value="rowan" />
            <label>Ta Tjoela</label><input type="checkbox" class="haha_checkbox" value="ta" />
            <label>Mo Anouar</label><input type="checkbox" class="haha_checkbox" value="mo" />
          </div>

        </div>
      </div>

      <div class="col-md-4 grid-item">
      <div class="intern">
        <h1>Oproep </h1>
          <textarea class="oproep_message" placeholder="Hey hey" autocomplete="off" spellcheck="true" class="textInput"/></textarea> 
          <input type='number' value="15" class="inputSeconds oproep_sec">
          <input type="button" value="Oproep plaatsen" class="oproep_submit">
      </div>
    </div>
    <div class="col-md-4 grid-item">
      <div class="intern">
        <h1>Live comments</h1>
        <ul id="commentList">
        </ul>
          <input type='number' value="15" class="inputSeconds comment_sec_live">
          <input type="button" value="Comment plaatsen" class='comment_submit_live'>
      </div>
    </div>
    <div class="col-md-4 grid-item">
      <div class="intern">
        <h1>Post comment</h1>
        <form action="" class='msgInput'>
          <h2> Naam </h2>
          <input class="comment_name" placeholder="Jan Jansen"></input>
          <h2> Foto url </h2>
          <input class="comment_pic" placeholder="https:///......"></input>
          <h2>Bericht</h2>
          <textarea id="comment_message" placeholder="Bericht input" autocomplete="off" spellcheck="true" class="textInput comment_message"/></textarea> 
          <input type='number' value="15" class="inputSeconds comment_sec">
          <input type="button" value="Comment plaatsen" class='comment_submit'>
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript" src="js/control_panel.js"></script>
</body>
</html>
