<!doctype html>
<html lang="en">
<head>
	<link href="css/love.css" rel="stylesheet">
</head>
<body>
	<div id="layerContainer">
			<div class="emojiCircle emojiCircleLeft">
				<img src="img/gif/love.gif" class="loveEmoji">
			</div>
			
	</div>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-2.2.0.js" crossorigin="anonymous"></script> 


	<script type="text/javascript" src="js/overlay.js"></script>
	<!-- <script type="text/javascript" src="js/likeFaces.js"></script> -->
 	<script type="text/javascript" src="plugins/jquery.countdown.js"></script>

</body>
</html>
