<!doctype html>
<html lang="en">
<head>
	<link href="css/overlay.css" rel="stylesheet">
</head>
<body>
	<div id="layerContainer">
		<div class="messages_container">
		</div>
		<div class="pollContainer">
			<div class="loveFacesContainer">
			</div>
			<div class="hahaFacesContainer">
			</div>
			<div class="percentageLeft">
				50%
			</div>
			<div class="percentageRight">
				50%
			</div>
			<div class="emojiCircle emojiCircleLeft">
				<img src="img/gif/love.gif" class="loveEmoji">
			</div>
			<div class="emojiCircle emojiCircleRight">
				<img src="img/gif/haha.gif" class="hahaEmoji">
			</div>
			
			<div class="timer"></div>

			<div class="team_love"></div>
			<div class="team_haha"></div>


			<div class="bottomBar">
				<div class="loveBar"></div>
				<div class="hahaBar"></div>
				<div class="question">
					Wie waren vorige week de beste?
				</div>
			</div> 
		</div>
	</div>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-2.2.0.js" crossorigin="anonymous"></script> 


	<script type="text/javascript" src="js/overlay.js"></script>
	<!-- <script type="text/javascript" src="js/likeFaces.js"></script> -->
 	<script type="text/javascript" src="plugins/jquery.countdown.js"></script>

</body>
</html>
