<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>De Monitor Overlay ControlPanel</title>


  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>


  <!--Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link href="css/control_panel.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="inner">
          <h1> Poll Settings</h1>
          <div class="postIDInputLabel">ID</div><input class="postIDInput" placeholder="Facebook post ID"></input>
        </form>
        <div class="totalEmojiData"></div>
        <br>
        <div class="pollContent">
        <input type="radio" class="selectedGroup" name="KEUZE GROUP" value="1"> 
        <input class="nameLeft 1a" placeholder="Keuze 1A"></input>
        <input class="nameRight 1b" placeholder="Keuze 1B"></input>

        <input type="radio" class="selectedGroup" name="KEUZE GROUP" value="2"> 
        <input class="nameLeft 2a" placeholder="Keuze 2A"></input>
        <input class="nameRight 2b" placeholder="Keuze 2B"></input>

        <input type="radio" class="selectedGroup" name="KEUZE GROUP" value="3"> 
        <input class="nameLeft 3a" placeholder="Keuze 3A"></input>
        <input class="nameRight 3b" placeholder="Keuze 3B"></input>

        <input type="radio"  class="selectedGroup" name="KEUZE GROUP" value="4"> 
        <input class="nameLeft 4a" placeholder="Keuze 4A"></input>
        <input class="nameRight 4b" placeholder="Keuze 4B"></input>

        <input type="radio"  class="selectedGroup" name="KEUZE GROUP" value="5"> 
        <input class="nameLeft 5a" placeholder="Keuze 5A"></input>
        <input class="nameRight 5b" placeholder="Keuze 5B"></input>
        </div>

        <div><h2>Aantal minuten</h2><input type='number' value="3" class="pollDuration"></div>


        <div class="checkbox">
          <label>
            <input type="checkbox" data-toggle="toggle" data-on="Poll AAN" data-onstyle="success" data-offstyle="danger" data-off="Poll UIT" data-onstyle="info" class='pollActive'>
          </label>
        </div> 
       
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner">
        <h1>Ticker Input</h1>
        <ul id="tickerList">
        </ul>
        <form action="" class='tickerForm'>
          <textarea  class="tickerInput" placeholder="Foto adres" autocomplete="off" spellcheck="true" > </textarea>
          <textarea  class="tickerInputName" placeholder="Naam" autocomplete="off" spellcheck="true" > </textarea>
          <input type="submit" class="submit">
        </input>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="inner">
      <h1>Berichten </h1>
      <div class="">
        <form action="" class='msgInput'>
          <textarea id="msg" placeholder="Bericht input" autocomplete="off" spellcheck="true"/></textarea> 
          <input type="submit" class='submit'>
          <input type='number' value="3" class="inputSeconds">
          <table>   
          <tr> 
          <td>1</td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="bl"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="bm"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="br"></td> 
          </tr>
          <tr> 
          <td>2</td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="ml"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="mm"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="mr"></td> 
          </tr>
          <tr> 
          <td>3</td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="ol"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="om"></td> 
          <td><input type="radio" class="msgPosition" name="msgPosition" value="or"></td> 
          </tr>
          </table>
          </form>
          </div>
          </div>
          </div>
     

    <div class="col-md-4">
      <div class="inner">
        <h1>WInner</h1>
        <div class="checkbox">
          <label>
            <input type="checkbox" data-toggle="toggle" data-on="winLove" data-onstyle="success" data-offstyle="danger" data-off="loseLove" data-onstyle="info" class='winLove'>
          </label>
        </div> 
        <div class="checkbox">
          <label>
            <input type="checkbox" data-toggle="toggle" data-on="winHaha" data-onstyle="success" data-offstyle="danger" data-off="loseHaha" data-onstyle="info" class='winHaha'>
          </label>
        </div> 
    </div>
  </div>




<!--           <ul class="msgStyle">
            <li><input type="radio" name="msgStyle" id="option1" value="linksOnder" autocomplete="off" checked>  Linksonder </li>
            <li><input type="radio" name="msgStyle" id="option3" value="linksBoven" autocomplete="off"> Linksboven </li>
          </ul> -->
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/control_panel.js"></script>
</body>
</html>
